.MuiTypography-body1-44 {
  font-size: 1.5rem; 

 }
 .MuiInputBase-input-28{
   height: 50px;;
 }
 .card-img-top{

 }

 .venue-city{
   font-weight: 400;
 }
 .card-venu-details{
   list-style: none;
   padding-left: 0px;
 }
 .card-venu-details li div:first-child {
   font-weight: 600;
 }
 .pagination {
  justify-content: center;
}
.carousel-inner > img, .active{
  height: 500px; 
  width: 100%;
}
.w-100{ 
  width:100% ;
  height: 450px;
}
.carousel{
  width: 100%;
}
